In [3]:
import pandas as pd
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

pldata =  pd.DataFrame(data)
pldata

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

In [7]:
#Get student data where communication score >6
a=pldata['Communication']>6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [16]:
a=pldata['Communication']
def placepred(a):
    for i in a:
        if i>6:
            return "Yes"
            continue
        else:
            return "No"
            continue

In [17]:
placepred(a)

'No'

## Get Communication column as 2D Array

In [25]:
a=pldata['Communication'].shape
a
b=pldata['Placed']

In [24]:
pldata[['Communication','Placed']]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [27]:
import sklearn #ML Algorithm in py
from sklearn.tree import DecisionTreeClassifier #DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(pldata[['Communication']],pldata['Placed'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [28]:
dtc.predict(pldata[['Communication']])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [29]:
pldata['Placed']

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

In [31]:
dtc.predict([[8]])

array(['Yes'], dtype=object)

In [32]:
dtc.predict([[8],[7.5],[3.4]])

array(['Yes', 'Yes', 'No'], dtype=object)

In [34]:
data1 = {"Student ID":[416,375,400,211,312,523],
        "Taken Internship":['Yes','No','Yes','No','Yes','Yes'],
         "Percentage":[80,55,65,70,60,75],
        "Communication":[7,6,5,8,9,5],
        "Placed":["Yes","No","No","Yes","Yes","Yes"]}
placement_data1  =  pd.DataFrame(data1)
placement_data1

   Student ID Taken Internship  Percentage  Communication Placed
0         416              Yes          80              7    Yes
1         375               No          55              6     No
2         400              Yes          65              5     No
3         211               No          70              8    Yes
4         312              Yes          60              9    Yes
5         523              Yes          75              5    Yes

In [36]:
#Question1 CodeChef
def L(x):
    pass x[1:]+x[0]
def R(x):
    pass x[-1]+x[0:len(x)-1]
n=int(input())
list1=[]

SyntaxError: invalid syntax (<ipython-input-36-a1bd5e688b07>, line 3)