# Tuples
### 1.Immutable(changes are not allowed)
### 2. using ( ) elements are separated by ,
### 3. Indexed,Ordered
### 4. Allows duplicate values
### 5. Allows Heterogeneous values

In [2]:
tup=(12,3,4.5,"abc",True)
print(type(tup))

<class 'tuple'>

In [3]:
print(tup[2])
print(tup[-1])

4.5
True

In [5]:
l=list(tup)
l[2]=100
tup=tuple(l)
tup

(12, 3, 100, 'abc', True)

# Packing and Unpacking

In [7]:
#unpacking
tup2=(12,352,55,74)
a,b,c,d=tup2
print(d)

74

In [8]:
#packing
x=10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

# Set

In [9]:
set1={12,343,222123,43545,878}
print(set1)

{222123, 12, 878, 343, 43545}

In [10]:
for ele in set1:
    print(ele)

222123
12
878
343
43545

In [11]:
# Builtin fucntions:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{222123, 12, 878, 343, 43545}
5
12
222123

In [12]:
#remocing duplicates from list
list1=[1,2,3,4,5,61,2,3,4,5,23,21,3,4,2,3,322]
list1=set(list1)
list1

{1, 2, 3, 4, 5, 21, 23, 61, 322}

In [14]:
#adding elements
set1.add(100)
set1.add(23)
set1.add(1313)
set1

{12, 23, 100, 343, 878, 1313, 43545, 222123}

In [16]:
set1.pop()

100

In [19]:
set1.remove(343)
set1 #can use set.clear() to empty the set

{12, 23, 878, 43545, 222123}

In [20]:
#union difference(A-B or B-A),intersection
A={1,2,4,5,6,3,21}
B={12,23,45,6,78}
#union
print(A.difference(B))
print(B.difference(A))
print(A.intersection(B))

{1, 2, 3, 4, 5, 21}
{12, 45, 78, 23}
{6}

In [24]:
#Subset,superset
c={1,2,3,4,5,6,7,8,9}
print(A.issubset(c))
print(B.issubset(c))
print(B.issuperset(c))
print(A.issuperset(c))

False
False
False
False

In [28]:
#disjoint
x={1,2}
y={22,31,28}
print(A.isdisjoint(B))
print(x.isdisjoint(y))

False
True

In [29]:
A.update(B)
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 12, 45, 78, 21, 23}
{6, 12, 45, 78, 23}

In [30]:
A.intersection_update(B)
print(A)
print(B)

{6, 12, 45, 78, 23}
{6, 12, 45, 78, 23}

In [32]:
A.difference_update(B)
print(A)
print(B)

set()
{6, 12, 45, 78, 23}

In [34]:
A.symmetric_difference_update(B)
print(A)
print(B)

{6, 45, 12, 78, 23}
{6, 12, 45, 78, 23}

# Dictionary

In [1]:
d1={"name":"Adiraju Narasimha Sathvik ","Batch":"111","Trained":"Hyderabad"}
print(d1["name"])
#to edit value
d1["name"]="A.N.Sathvik IPS"
print(d1)
#Adding entry
d1["college"]="Bombay"
print(d1)
#Removing entry
del d1["Trained"]
print(d1)

Adiraju Narasimha Sathvik
{'name': 'A.N.Sathvik IPS', 'Batch': '111', 'Trained': 'Hyderabad'}
{'name': 'A.N.Sathvik IPS', 'Batch': '111', 'Trained': 'Hyderabad', 'college': 'Bombay'}
{'name': 'A.N.Sathvik IPS', 'Batch': '111', 'college': 'Bombay'}

## Buit in methods

In [4]:
#Keys(),values(),items()
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['name', 'Batch', 'college'])
dict_values(['A.N.Sathvik IPS', '111', 'Bombay'])
dict_items([('name', 'A.N.Sathvik IPS'), ('Batch', '111'), ('college', 'Bombay')])

In [5]:
#extacting an element
print(d1["name"])
print(d1.get("name"))

A.N.Sathvik IPS
A.N.Sathvik IPS